<form [formGroup]="form" class="mt-5 py-4 bg-white rounded-2xl shadow-md">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 lg:w-1/3 p-3">
      <mat-form-field>
        <mat-label>Nome Fantasia</mat-label>
        <input
          matInput
          [readonly]="isViewMode"
          formControlName="fantasy_name"
        />
        <mat-error
          *ngIf="form.controls.fantasy_name.hasError('required') && sentForm"
          >Por favor, digite o nome fantasia</mat-error
        >
        <mat-error
          *ngIf="form.controls.fantasy_name.hasError('minlength') && sentForm"
          >O nome fantasia deve ter no mínimo 10 caracteres</mat-error
        >
      </mat-form-field>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/3 p-3">
      <mat-form-field>
        <mat-label>Razão Social</mat-label>
        <input
          matInput
          [readonly]="isViewMode"
          formControlName="company_name"
        />
        <mat-error
          *ngIf="form.controls.company_name.hasError('required') && sentForm"
          >Por favor, digite a razão social</mat-error
        >
        <mat-error
          *ngIf="form.controls.company_name.hasError('minlength') && sentForm"
          >A razão social deve ter no mínimo 10 caracteres</mat-error
        >
      </mat-form-field>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/3 p-3">
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input
          matInput
          [readonly]="isViewMode"
          formControlName="cnpj"
          mask="00.000.000/0000-00"
        />
        <mat-error *ngIf="form.controls.cnpj.hasError('required') && sentForm"
          >Por favor, digite o CNPJ</mat-error
        >
        <mat-error *ngIf="form.controls.cnpj.hasError('cpfCnpj')"
          >Por favor, digite um CNPJ válido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/4 p-3">
      <mat-form-field *ngIf="!isViewMode">
        <mat-label>Especialidades</mat-label>
        <mat-select multiple formControlName="medical_specialties">
          <mat-option
            *ngFor="let medical_specialty of medical_specialities"
            [value]="medical_specialty.id"
            >{{ medical_specialty.label }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="
            form.controls.medical_specialties.hasError('required') && sentForm
          "
          >Por favor, selecione pelo menos uma especialidade</mat-error
        >
      </mat-form-field>

      <div *ngIf="isViewMode">
        <div class="mb-1">Especialidades</div>
        <ng-container
          *ngFor="let specialty of company.medical_specialties; let i = index"
        >
          <span *ngIf="[0, 1].includes(i)" class="text-md">{{
            specialty.label
          }}</span>
          <br *ngIf="[0, 1].includes(i)" />
        </ng-container>
        <a
        (click)="viewSpecialties()"
          *ngIf="company.medical_specialties.length >= 2"
          class="hover:underline hover:cursor-pointer"
        >
          Ver mais...</a
        >
      </div>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/4 p-3">
      <mat-form-field>
        <mat-label>Região</mat-label>
        <mat-select formControlName="region">
          <mat-option
            *ngFor="let region of regions"
            [value]="region.id"
            [disabled]="isViewMode"
            >{{ region.label }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="form.controls.region.hasError('required') && sentForm"
          >Por favor, selecione uma região</mat-error
        >
      </mat-form-field>
    </div>

    <div class="w-full md:w-1/2 lg:w-4/12 p-3">
      <mat-form-field>
        <mat-label>Data de Inauguração</mat-label>
        <input
          matInput
          [readonly]="isViewMode"
          [matDatepicker]="picker"
          formControlName="inauguration_date"
          [min]="today"
        />
        <mat-datepicker-toggle
          [disabled]="isViewMode"
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="
            form.controls.inauguration_date.hasError('required') && sentForm
          "
          >Por favor, selecione a data de inauguração</mat-error
        >
        <mat-error
          *ngIf="
            form.controls.inauguration_date.hasError('minDate') && sentForm
          "
          >A data de inauguração não pode ser menor que hoje</mat-error
        >
        <mat-error
          *ngIf="
            form.controls.inauguration_date.hasError('invalidDate') && sentForm
          "
          >Por favor, digite uma data válida</mat-error
        >
      </mat-form-field>
    </div>

    <div class="p-3 w-full md:w-1/2 lg:w-2/12">
      <section *ngIf="!isViewMode">
        <mat-checkbox
          [disabled]="isViewMode"
          color="primary"
          formControlName="active"
          >Ativo</mat-checkbox
        >
      </section>

      <div *ngIf="isViewMode">
        <p>Ativo?</p>
        <strong>{{ company.active ? "Sim" : "Não" }}</strong>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-end pt-5 gap-3 px-3">
    <default-button
      [value]="isViewMode ? 'Voltar' : 'Cancelar'"
      (clickEvent)="cancel()"
      [type]="isViewMode ? 'primary' : 'cancel'"
    ></default-button>
    <default-button
      *ngIf="!isViewMode"
      [value]="isCreateMode ? 'Salvar' : 'Editar'"
      (clickEvent)="sendForm()"
    ></default-button>
  </div>
</form>
