<div class="mx-auto">
  <div class="pt-4 px-3">
    <default-search-input
      (searchEvent)="adjustParams($event)"
      [text]="filter"
      placeholder="Pesquise pelo nome da entidade"
    ></default-search-input>
  </div>
</div>

<div class="mx-auto mt-2 p-3" *ngIf="companies$ | async as companies">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Razão Social</th>
          <th>Região</th>
          <th>Especialidades Médicas</th>
          <th class="!text-center">Ativa</th>
          <th class="!text-center">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="companies.length">
        <tr
          *ngFor="let company of companies; let i = index"
          [paginacao]="{ indice: i, pagina: pageIndex, limitePagina: 5 }"
        >
          <td>{{ company.company_name }}</td>
          <td>
            {{ company.region.label }}
          </td>
          <td class="max-w-28">
            <p class="overflow-hidden text-ellipsis whitespace-nowrap">
              <span
                *ngFor="
                  let specialty of company.medical_specialties;
                  let last = last
                "
                >{{ specialty.label }} <span *ngIf="!last">-</span></span
              >
            </p>
          </td>
          <td>
            <div class="w-full flex justify-center">
              <span
                class="material-symbols-outlined"
                [ngClass]="{
                  'text-green-500': company.active,
                  'text-red-500': !company.active
                }"
              >
                {{ company.active ? "check_circle" : "cancel" }}
              </span>
            </div>
          </td>
          <td>
            <div class="flex gap-2 justify-center">
              <default-button
                icon="visibility"
                type="secondary"
                (clickEvent)="viewCompany(company.id)"
              ></default-button>
              <default-button
                icon="edit"
                type="primary"
                (clickEvent)="editCompany(company.id)"
              ></default-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="!companies.length">
      <div class="p-5 flex w-full justify-center">
        <span>Não foram encontrados registros</span>
      </div>
    </ng-container>
  </div>
  <mat-paginator
    [length]="companies.length"
    [pageSize]="5"
    (page)="pageIndex = $event.pageIndex"
    [hidePageSize]="true"
  >
  </mat-paginator>
</div>
